body {
    background-color: teal;
}
.container {
    background-color: white;
}
.nav-link {
    margin: 0px 300px;
    font-size: 30px;
    font-weight: bold;
}
.hr1 {
    margin-top: -8px;
}
.navbar-brand {
    color: gray;
    font-size: 20px;
}
.navbar-brand:hover {
    text-decoration: underline;
}
.subtitle {
    margin: 0px 19px;
    color: gray;
}
.subtitle:hover {
    color: gray;
}
.title {
    margin-top: 15px;
    /* height: 362px;
    width: 100%; */
    background-color: #343A40;
    border-radius: 1%;
    color: white;
    padding: 40px;
}
.contin {
    color: white;
    font-size: 25px;
}
.contin:hover {
    color: white;
}
.card {
    margin: 20px 100px
}
.lef {
    width: 65%;
    margin: 30px;
}

.righ {
    height: 30%;
    
    width: 25%;
    margin-top: 35px;
    
}
.mn {
    padding: 15px;
    background-color: rgb(212, 204, 204);
}
.hr2 {
    margin: 5px;
}
.sim {
    font-weight: bold;
    font-size: 35px;
}
.butt {
    border: 1px solid rgb(4, 120, 253);
    border-radius: 45%;
}
.ma {
    margin-top: 20px;
    background-color: black;
    text-align: center;
    padding: 50px;
    color: white;
}